@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .underline-animation {
    @apply relative;
  }
  .underline-animation::after {
    @apply absolute content-[''] w-full h-1 bg-orange-500 left-0 -bottom-1 scale-x-0 transition-transform duration-300 z-10 origin-bottom-right;
  }
  .underline-animation:hover::after {
    @apply scale-x-100 origin-bottom-left;
  }

  .fill-animation {
    @apply relative z-0 overflow-hidden hover:text-white transition-colors duration-300;
  }
  .fill-animation::after {
    @apply absolute content-[''] w-full h-full bg-orange-500 left-0 top-0 scale-x-0 transition-transform duration-300 origin-right z-[-1];
  }
  .fill-animation:hover::after {
    @apply scale-x-100 origin-left;
  }

  .hard-shadow {
    box-shadow: 4 4 0 0 black;
  }
}
